html{
    height: 100%;
}

body{
    height: 100%;
}

a{color:black}

.textCenter{text-align: center;}
.textRight{text-align: right;}

.navbar{
    background-color: white;
    border:none;
}
.jumbotron{
    height: 100%;
    background-color: #fff;
}
.thin{font-weight: lighter;}

footer{
    background-color: #ddd;
}
